/* Ovveride CSS portal_admin */
body { background: #F1F1F1; font-family: 'Roboto', sans-serif }

.nav-xs{ margin-left: 50px; position: absolute; right: 60px; top: 10px }
.nav-xs > li{ margin: 0 2px }
.nav-xs > li, .nav.visible-xs > li > a { display: inline-block; height: auto; padding:0; line-height: auto }
.nav-xs .dropdown.user-menu.open{ position: absolute; top: 35px; right: 35px; z-index:9999; background:#00416D }
.nav-xs .dropdown.user-menu > .dropdown-toggle {	position: absolute;	right: 0;	top: -12px;	z-index: 9999; }
.nav-xs .dropdown.user-menu.open > .dropdown-toggle {	right: 9px;	top: -32px}

#admin-wrapper{ min-height:900px; margin:40px 0 0 0; position: relative;  }
#admin-wrapper .content-header{ min-height:50px; width:100%; top:40px; z-index: 400; background-color: #2D7DBC; position: fixed; border-bottom: 0; padding: 15px 0 0 15px }
#admin-wrapper .content-header h1 small{ color: #DEDEDE }
#admin-wrapper .content-header h1 a{ color: #fff }
#admin-wrapper .content{ padding: 50px 30px}
#admin-wrapper .content .app-wrapper{ padding: 0 30px }

.main-header{ position: fixed }
.main-header > .navbar {margin-left:0}

.modal-dialog {	margin-top: 30vh;  margin-left: auto; margin-right: auto }
.modal-dialog .box{ min-height:100px;border-top:0;}

.skin-lutece .main-header .navbar {	background-color: #00416D !important }

.header-app{ background-color: #52BDF2; padding: 25px; margin: -15px -30px; color:#fff }

.content > header { position: fixed; top: 0; left: 0; width: 100%; height: 10vh; background: #F1F1F1; overflow: hidden; z-index:200 }

/* NEW  SKIN */
#filter-apps{	position: fixed; top: 53px;z-index: 400;right: 220px }
.floating-button {
  position: fixed; z-index: 600; width: 50px; height: 50px; background: #E91E63;
  border: transparent;  color: #FFF;
  font-size: 2em; border-radius: 50%; top: 40px; right: 5%; margin-top: 25px;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -kthtml-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.floating-button .fa { font-size: initial}
.floating-button.search { right: 12% }
.floating-button.search .fa-search {padding-bottom: 15px}
.floating-button:hover {box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3); margin-top: 20px;}
.floating-button:active{ box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4); margin-top: 20px; background: #EC407A }

.cards { position: relative; z-index: 100; margin-top: 5vh; margin-left: 20px; margin-right: 20px;}
.icon.circle { text-align: center; border: 8px solid #CCC; border-radius: 50%; width: 110px;	height: 110px; margin-left: -15px }

.cards > section { background: #FFF; border-bottom: 3px solid rgba(0, 0, 0, 0.15) }
.cards > section .icon i { font-size: 4em; color: #CCC; padding: 18px 0;  width: 50% }
.cards > section:hover .icon i{ color: #2D7DBC }
.cards > section:hover .icon{ border-color:#2D7DBC }
.cards > section:hover h4{ color:#2D7DBC }
.cards > section:hover h1{ color: #2D7DBC }
.cards section.fav{ border-left: #2D7DBC solid 10px; }
.cards section.fav h1 i.fa-star{ color: rgb(250, 229, 36) }
.cards section h1 i.fa-star-o:hover{ color: rgb(250, 229, 36) }
.cards section .cards-info{ background:#2D7DBC 0 0; min-height: 50vh; padding: 30px 0; margin: -15px; }
.cards section .cards-info h1{ margin: 0 auto; width: 150px; color: #fff }
.cards .app-server:hover{ box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);  }
.cards .form_run_action_server{ padding-top: 20px}
.type-server-title{ margin-top:0 }

@media screen and (max-width: 1280px) {
  #filter-apps{	right: 120px }
}

@media screen and (max-width: 1200px) {
  .button{ padding: 4px 4px;	font-size: 14px  }
  #admin-wrapper > .content-header > .breadcrumb {	display: none  }
  #admin-wrapper .content-header h1 small { display: none  }
}

@media screen and (max-width: 980px) {
  #filter-apps{	top: 50px; background-color:#2D7DBC; padding: 5px 15px; right: 150px }
  .cards > section .icon i{font-size: 2em; margin-top: -10px }
  .icon.circle { width: 65px; height: 65px;	margin-left: -10px;}
}

@media screen and (max-width: 760px) {
  .floating-button.search { right: 15% }
  .cat{ float: left; width:60%; border-bottom: none; margin-top: 12px }
}

@media screen and (max-width: 480px) {
  #filter-apps{	width: 100%; top: -15px; right: auto }
  #admin-wrapper .content .app-wrapper {padding-top: 15px;}
  .content-header > h1 {font-size: 1.2em }
  .content-header > h1 {font-size: 1.2em }
  .floating-button { width: 30px; height: 30px;  font-size: 1.5em; top: 55px
  -o-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -kthtml-transition: all 0.1s linear;
  transition: all 0.1s linear;}
  .cards { margin-top: 2vh;	margin-left: 5px;	margin-right: 5px;}
  .cards h4{ font-size: 14px }
}

@keyframes opa{ 0% { opacity: 0;  } 100% {  opacity: 1; }}
@keyframes pos{ 0% {  top:0;  } 100% {  top: 45px;  }}
.btn-anim { position: relative; font-weight: 100; text-align: center; border-radius: 5px;  overflow: hidden; position: relative; z-index: 0; cursor: pointer }
.btn-anim.raised { -moz-transition: all 0.1s; -o-transition: all 0.1s; -webkit-transition: all 0.1s; transition: all 0.1s; background: #0c84e4; box-shadow: 0px 1px 1px #085a9b }
.btn-anim.raised:active { background: #0c7dd8; box-shadow: 0px 1px 1px #063e6b }
input[type="checkbox"].toggle { -moz-appearance: none; -webkit-appearance: none; position: absolute; width: 100%; height: 100%; margin: 0; left: 0; top: 0; cursor: pointer }
input[type="checkbox"].toggle:focus { outline: 0 }
.anim {
-moz-transform: translateY(-50%) translateX(-50%);
-ms-transform: translateY(-50%) translateX(-50%);
-webkit-transform: translateY(-50%) translateX(-50%);
transform: translateY(-50%) translateX(-50%);
position: absolute; top: 50%; left: 50%; z-index: -1
}
.anim:before { position: relative; content: ''; display: block; margin-top: 100% }
.anim:after { content: ''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; border-radius: 50% }
.clickable .toggle:checked + .anim { -moz-animation: anim-in 0.75s; -webkit-animation: anim-in 0.75s;  animation: anim-in 0.75s }
.clickable .toggle:checked + .anim:after { -moz-animation: anim-in-pseudo 0.75s; -webkit-animation: anim-in-pseudo 0.75s; animation: anim-in-pseudo 0.75s }
.clickable .toggle:not(:checked) + .anim { -moz-animation: anim-out 0.75s; -webkit-animation: anim-out 0.75s; animation: anim-out 0.75s }
.clickable .toggle:not(:checked) + .anim:after { -moz-animation: anim-out-pseudo 0.75s;  -webkit-animation: anim-out-pseudo 0.75s; animation: anim-out-pseudo 0.75s }
.hoverable:hover > .anim { -moz-animation: anim-out 0.75s; -webkit-animation: anim-out 0.75s; animation: anim-out 0.75s }
.hoverable:hover > .anim:after { -moz-animation: anim-out-pseudo 0.75s; -webkit-animation: anim-out-pseudo 0.75s; animation: anim-out-pseudo 0.75s }
@-webkit-keyframes anim-in { 0% { width: 0%; } 100% { width: 100%; }}
@-moz-keyframes anim-in { 0% { width: 0%;} 100% { width: 100%; }}
@-ms-keyframes anim-in { 0% { width: 0%;} 100% { width: 100%; }}
@keyframes anim-in { 0% { width: 0%; } 100% { width: 100%; }}
@-webkit-keyframes anim-in-pseudo { 0% { background: rgba(0, 0, 0, 0.25); } 100% {  background: transparent; } }
@-moz-keyframes anim-in-pseudo { 0% { background: rgba(0, 0, 0, 0.25); } 100% {  background: transparent; } }
@-ms-keyframes anim-in-pseudo { 0% { background: rgba(0, 0, 0, 0.25); } 100% { background: transparent; } }
@keyframes anim-in-pseudo { 0% { background: rgba(0, 0, 0, 0.25); } 100% { background: transparent;  } }
@-webkit-keyframes anim-out { 0% { width: 0%; } 100% {  width: 100%; } }
@-moz-keyframes anim-out { 0% { width: 0%; } 100% {  width: 100%; } }
@-ms-keyframes anim-out { 0% { width: 0%; } 100% { width: 100%; }}
@keyframes anim-out { 0% { width: 0%;} 100% { width: 100%; }}
@-webkit-keyframes anim-out-pseudo { 0% { background: rgba(0, 0, 0, 0.25); } 100% { background: transparent; }}
@-moz-keyframes anim-out-pseudo { 0% { background: rgba(0, 0, 0, 0.25); } 100% { background: transparent; }}
@-ms-keyframes anim-out-pseudo { 0% { background: rgba(0, 0, 0, 0.25); } 100% { background: transparent; }}
@keyframes anim-out-pseudo { 0% {background: rgba(0, 0, 0, 0.25);} 100% { background: transparent; }}

.widget-app {
  margin-top: 30px;
  background-color: #fff
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -kthtml-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.widget-app:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.widget-app .info-box{ margin-bottom: 0 }
.widget-app .info-box:hover { background-color: #f6f6f6 }
.widget-app .info-box-content h4{ margin-bottom: 4px }

.widget-app .collapse { margin-top: 22px }
.widget-app .nav-stacked li{ page-break-after: ;dding: 15px 15px }
.widget-app .nav-stacked li:hover, .widget-app .nav-stacked li:active, .widget-app .nav-stacked li:focus { color: #444;  background: #f7f7f7 }
.widget-app .nav-stacked li h4{ margin-top: 0 ; font-weight: 900}
.label-app { font-size: 16px; display: inline-block; margin-top: 10px; text-align: left }
.label-repo{ margin-top: 10px }
.form-app{ margin-top: 18px }

.info-box-release{ min-height: 60px;   }
.info-box-release .info-box-icon{ height: 60px; line-height: 60px; }
.info-box-release.components{ margin-bottom: 0; }
.list-components .media-left{ padding-top: 8px; width: 200px  }
.list-components .media-left .release{ background-color: #00416D; color: #fff; border-radius: 5px; padding: 5px }
.list-components .media-left .release i{ color: #fff }

.list-components .media-body .artifact.up{ font-size:150%; font-weight: bold}
.list-components .media-body p.info{margin-top: 10px }
.list-components .media-body .progress{width: 100%; height: 30px }

.table-release > thead > tr > th:first-child{ width: 2%; }
.table-release > thead > tr > th{ width: 5%; line-height: 22px; vertical-align: middle; text-align: center; }
.table-release > tbody > tr > td{ text-align: center; }
.table-release > tbody > tr > td:first-child, .table-release > tbody > tr > td:last-child{ text-align: left; font-weight: bold }
.table-release > thead > tr > td:first-child{ width: 15px }
.table-release > thead > tr > th.large{ width: 10% }
.table-release > thead > tr > th.xlarge{ width: 25%; text-align: left; }

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .form-app{ margin-top: -20px }
}

@media screen and (max-width: 560px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .widget-app .info-box-content h4{ font-size: 16px; width: 100%}
  .widget-app .collaspe { margin-top: -10px; margin-right: -20px }
  .form-app{ margin-top: 0 }
}
